<div class="notification notification--urRead d-flex">
    <div class="notification__image-container">
        <img src="../../../assets/images/avatar-mark-webber.webp" width="30" height="30" alt="user-image">
    </div>
    <div class="notification__info">
        <div class="notification__info__title">
            <span class="notification__info__title__name font-weight-bold hover-blue">Mark Webber</span>
            <span class="notification__info__title__status">reacted to your recent post</span>
            <span class="notification__info__title__details font-weight-bold hover-blue">My first tournament today!</span>
        </div>
        <div class="notification__info__date">5 days a go</div>
    </div>
</div>
<div class="notification d-flex">
    <div class="notification__image-container">
        <img src="../../../assets/images/avatar-mark-webber.webp" width="30" height="30" alt="user-image">
    </div>
    <div class="notification__info">
        <div class="notification__info__title">
            <span class="notification__info__title__name font-weight-bold hover-blue">Mark Webber</span>
            <span class="notification__info__title__status">reacted to your recent post</span>
            <span class="notification__info__title__details font-weight-bold hover-blue">My first tournament today!</span>
        </div>
        <div class="notification__info__date">5 days a go</div>
        <div class="notification__info__message-box">Hello, thanks for setting up the Chess Club. I've been a member for a few weeks now and I'm already having lots of fun and improving my game.</div>
    </div>
</div>
