.notification {
  $self: &;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;

  &__image-container {
    border-radius: 50%;
  }

  &__info {
    margin-left: 25px;

    &__title {
      &__status {
        color: var(--GrayishBlue);
      }

      &__details {
        color: var(--DarkGrayishBlue);
      }

      > span {
        padding-right: 5px;

        &.hover-blue {
          cursor: pointer;

          &:hover {
            color: var(--Blue);
          }
        }
      }
    }

    &__date {
      color: var(--GrayishBlue);
    }

    &__message-box {
      color: var(--DarkGrayishBlue);
      border: 1px solid var(--LightGrayishBlue2);
      border-radius: 5px;
      padding: 15px;
      font-weight: var(--bold);
      margin: 10px 0;
      cursor: pointer;

      &:hover {
        background-color: var(--LightGrayishBlue);
      }
    }
  }

  &--urRead {
    background-color: var(--VeryLightGrayishBlue);

    #{ $self }__info {
      &__title {
        position: relative;
        padding-top: 5px;
      }

    }
  }

  &__post-image {
    cursor: pointer;
    transition: all ease-in-out 200ms;

    &:hover {
      transform: scale(1.2);
    }
  }

  .red-bullet {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: var(--Red);
    display: inline-block;
    padding: 0;
  }
}
